html {
    font-family: 'Dosis', sans-serif;
    background-color: white;
}

.menu {
    display: inline-block;
}

.menu ul {
    list-style-type: none;
    font-size: 30px;
}

.menu_item {
    display: inline-block;
}

header h1 {
    display: inline-block;
}

.menu_item::after {
    content: '//';
    padding-left: 5px;
}

.blog_title {
    text-align: center;
}

footer {
    text-align: center;
}

footer p {
    margin-bottom: 0px;
}

.box{
    border: 1px solid black;
    display: inline-block;
    height: 300px;
    width: 300px;
    overflow: auto;
}

.detweet .technologies li {
    list-style-type: square;
}