html {
    font-family: 'Source Code Pro', monospace;
    /*
    font-family: 'Amiri', serif;
    */  
}

header h1 {
    text-align: center;
    margin-bottom: 0px;
}

header h5 {
    text-align: center;
    margin-top: 0px;
}

header img {
    height: 200px;
    border-radius: 50%;
}

header nav ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 0px;
    list-style-type: none;
    font-size: 30px;
    text-align: center;
}

.detweet p {
    font-size: 13px;
}

.detweet h3 {
    border-bottom: 2px solid black;
}

.airbnb_clone h3 {
    border-bottom: 2px solid black;
}

.airbnb_clone p {
    font-size: 13px;
}

.abalone p {
    font-size: 13px;
}

.abalone h3 {
    border-bottom: 2px solid black;
}

.kwikilinks p {
    font-size: 13px;
}

.kwikilinks h3 {
    border-bottom: 2px solid black;
}

.shell h3 {
    border-bottom: 2px solid black;
}

.shell p {
    font-size: 13px;
}

.monty h3 {
    border-bottom: 2px solid black;
}

.monty p {
    font-size: 13px;
}

.printf h3 {
    border-bottom: 2px solid black;
}

.printf p {
    font-size: 13px;
}

.project_type {
    border: 2px dotted black;
    text-align: center;
}
footer {
    text-align: center;
}

footer ul {
    list-style-type: none;
}

footer p {
    margin-bottom: 0px;
}